# Copier ce fichier en .env.local et remplir la clé
# Obtenir la clé GRATUITEMENT sur : https://aistudio.google.com/apikey

GEMINI_API_KEY=AIza_REMPLACER_PAR_TA_CLE
MISTRAL_API_KEY=REMPLACER_PAR_TA_CLE_MISTRAL
SERPER_API_KEY=REMPLACER_PAR_TA_CLE_SERPER