# Clé API — NE JAMAIS committer ce fichier
.env.local
.env*.local

# Next.js
.next/
out/

# Dépendances
node_modules/

# Divers
.DS_Store
*.log
.env.local

#vercel
6b0edda7-4937e828
f30fa606-28072e7b
718ec8d6-554e4113
5de8aab9-266ff731
c28577e3-c333bb34
002af5d4-b403811e